@layer main{

  body{
    main{
      section[btn-display]{
        background-color: rgb(255, 255, 255);

        border-radius: 1.3rem;
        padding: 1.5rem 3.5rem;

        table{
          inline-size: 100%;

          border-collapse: separate;
          border-spacing: 0 1rem;

          th,
          td{
            vertical-align: middle;

            padding: 0.75rem 1rem;

            text-align: center; 
            font-weight: 500;
          }

          tr[default]{
            /*basic*/

            /*bug: il btn basic default non funziona in tabella 
            se non specifichi il css*/

            button[bs-prim]{
              background-color: var(--ly--color);

              &:hover{
                background-color: color-mix(in srgb, var(--ly--color) 90%, white 25%);
              }
              &:active{
                background-color: color-mix(in srgb, var(--ly--color) 90%, black 85%);
              }
            }

            button[bs-sec]{
              color: var(--ly--color);
              border-color: var(--ly--color);

              &:hover{
                color: white;
                background-color: color-mix(in srgb, var(--ly--color) 90%, white 80%);
              }
              &:active{
                color: white;
                background-color: color-mix(in srgb, var(--ly--color) 90%, white 50%);
              }
            }

            button[bs-ter]{
              color: var(--ly--color);

              &:hover{
                color: color-mix(in srgb, var(--ly--color) 90%, white 25%);
              }

              &:active{
                color: color-mix(in srgb, var(--ly--color) 90%, black 85%);
              }

            }

            /*minimal*/
            button[mnl-prim]{
              background-color: var(--ly--color);
              &:active{
                background-color: color-mix(in srgb, var(--ly--color) 90%, black 15%);
              }
            }

            button[mnl-sec]{
              border-color: #141211;
              &:active{
                background-color: color-mix(in srgb, var(--ly--color) 90%, white 95%);
              }
            }

            button[mnl-ter]{
              &:hover{
                box-shadow: 0px 12px 1px #141211,  0 0 4px var(--ly--color);
              }
              &:active{
                box-shadow: 0 0 4px var(--ly--color);
                transform: translate(0px);
              }
            }
          }

          tr[hover]{
            /*basic*/
            button[bs-prim]{
              background-color: color-mix(in srgb, var(--ly--color) 90%, white 25%);
            }
            button[bs-sec]{
              color: white;
              border-color: var(--ly--color);
              background-color: color-mix(in srgb, var(--ly--color) 90%, white 80%);
            }
            button[bs-ter]{
              color: color-mix(in srgb, var(--ly--color) 90%, white 25%);
            }

            /*minimal*/
            button[mnl-prim]{
              background-color: var(--ly--color);
              box-shadow:  0px 12px 1px #141211;

              &:hover{
                transform: translate(0px);
              }
              &:active{
                background-color: var(--ly--color);
              }

            }

            button[mnl-sec]{
              border-color: #141211;
              box-shadow:  0px 12px 1px #141211;

              &:hover{
                transform: translate(0px);
              }
              &:active{
                background-color: transparent;
              }
            }

            button[mnl-ter]{
              box-shadow:  0px 12px 1px #141211,  0 0 4px var(--ly--color);
              &:hover{
                transform: translate(0px);
              }
            }
          }

          tr[pressed]{
            /*basic*/
            button[bs-prim]{
              background-color: color-mix(in srgb, var(--ly--color) 90%, black 85%);
            }

            button[bs-sec]{
              color: white;
              background-color: color-mix(in srgb, var(--ly--color) 90%, white 50%);

              border-color: var(--ly--color);
            }

            button[bs-ter]{
              color: color-mix(in srgb, var(--ly--color) 90%, black 85%);
            }

            /*minimal*/
            button[mnl-prim]{
              background-color: color-mix(in srgb, var(--ly--color) 90%, black 15%);

              &:hover{
                box-shadow:none;
                transform: translate(0px);
              }
            }

            button[mnl-sec]{
              background-color: color-mix(in srgb, var(--ly--color) 90%, white 95%);
              border-color: #141211;
              
              &:hover{
                box-shadow:none;
                transform: translate(0px);
              }
            }

            button[mnl-ter]{
              box-shadow: 0 0 4px var(--ly--color);

              &:hover{
                box-shadow: 0 0 4px var(--ly--color);
                transform: translate(0px);
              }
            }
          } 
        }
      }
    }
  }
   @media (max-width: 768px) {
    section[btn-display]{
      inline-size: 80%;
    }

    section[btn-display] table button {
      inline-size: 140px;
      block-size: 42px;
    }
  }

  @media (max-width: 576px) {
    section[btn-display]{
      inline-size: 80%;
    }
    body main section[btn-display] table button {
      inline-size: 100px;
      block-size: 2rem;
    }
  }
}