@layer large {
     :root{
      --ui-btn-glw--s-large--inline-size: 190px;
      --ui-btn-glw--s-large--block-size: 62px;

      --ui-btn-glw--s-large--border-width: 3.5px;

      --ui-btn-glw--s-large--font-size: 1.3rem;
    }

    button[large]{
      --ui-btn-glw--inline-size: var(--ui-btn-glw--s-large--inline-size);
      --ui-btn-glw--block-size: var(--ui-btn-glw--s-large--block-size);

      --ui-btn-glw--border-width: var(--ui-btn-glw--s-large--border-width);

      --ui-btn-glw--font-size: var(--ui-btn-glw--s-large--font-size);
    }
  
}