@layer medium {
     :root{
      --ui-btn-glw--s-medium--inline-size: 140px;
      --ui-btn-glw--s-medium--block-size: 42px;
    }

    button[medium]{
      --ui-btn-glw--inline-size: var(--ui-btn-glw--s-medium--inline-size);
      --ui-btn-glw--block-size: var(--ui-btn-glw--s-medium--block-size);
    }
}