@layer button.variants, button.states, button.sizes, button.modifiers;

@import './variants/variants.css' layer(button);
@import './sizes/sizes.css' layer(button);
@import './modifiers/modifiers.css' layer(button);
@import './states/states.css' layer(button);

@layer button {
  :root {
    --ui-btn--display: inline-flex;
    --ui-btn--place-content: center;
    --ui-btn--place-items: center;
    --ui-btn--gap: 1.4rem;
    --ui-btn--position: static;
    
    --ui-btn--color: #ffffff;
    --ui-btn--background-color: #45bab4;
    
    --ui-btn--inline-size: 10rem;
    --ui-btn--block-size: 52px;
    --ui-btn--aspect-ratio: auto;
    --ui-btn--padding: auto;
    --ui-btn--border-width: 0;
    --ui-btn--border-style: solid;
    --ui-btn--border-color: transparent;
    --ui-btn--border-radius: 0;
    --ui-btn--box-shadow: none;
    
    --ui-btn--cursor: pointer;
    
    --ui-btn--font-size: 1rem;
    --ui-btn--font-weight: 300;
    --ui-btn--line-height: 1rem;
    --ui-btn--text-decoration: none;

    --ui-btn--transition: none;
    --ui-btn--transform: none;
  }

  button[bs] {
    display: var(--ui-btn--display);
    place-content: var(--ui-btn--place-content);
    place-items: var(--ui-btn--place-items);
    gap: var(--ui-btn--gap);
    position: var(--ui-btn--position);


    color: var(--ui-btn--color);
    background-color: var(--ui-btn--background-color);

    inline-size: var(--ui-btn--inline-size);
    block-size: var(--ui-btn--block-size);
    aspect-ratio: var(--ui-btn--aspect-ratio);
    padding: var(--ui-btn--padding);
    border: var(--ui-btn--border-width) var(--ui-btn--border-style) var(--ui-btn--border-color);
    border-radius: var(--ui-btn--border-radius);
    box-shadow: var(--ui-btn--box-shadow);

    cursor: var(--ui-btn--cursor);

    font-size: var(--ui-btn--font-size);
    font-weight: var(--ui-btn--font-weight);
    line-height: var(--ui-btn--line-height);
    text-decoration: var(--ui-btn--text-decoration);

    transition: var(--ui-btn--transition);
    transform: var(--ui-btn--transform);
  }
}
