@layer secondary {
   :root {
    --ui-btn--v-sec--color: var(--ui-btn--background-color);
    --ui-btn--v-sec--background-color: transparent;

    --ui-btn--v-sec--border-width: 3px;
    --ui-btn--v-sec--border-color: var(--ui-btn--background-color);
    
    /*hover*/
    --ui-btn--v-sec--s-hov--color: white;
    --ui-btn--v-sec--s-hov--background-color: color-mix(in srgb, var(--ui-btn--background-color) 90%, white 80%);

    --ui-btn--v-sec--s-hov--border-width: var(--ui-btn--v-sec--border-width);
    --ui-btn--v-sec--s-hov--border-color: var(--ui-btn--v-sec--border-color);

    /*active*/
    --ui-btn--v-sec--s-act--color: white;
    --ui-btn--v-sec--s-act--background-color: color-mix(in srgb, var(--ui-btn--background-color) 90%, white 50%);

    --ui-btn--v-sec--s-act--border-width: var(--ui-btn--v-sec--border-width);
    --ui-btn--v-sec--s-act--border-color: var(--ui-btn--v-sec--s-hov--border-color);

    /*disabled*/
    --ui-btn--v-sec--s-dis--background-color: transparent;
    --ui-btn--v-sec--s-dis--color: var(--ui-btn--s-dis--background-color);

    --ui-btn--v-sec--s-dis--border-width: var(--ui-btn--v-sec--border-width);
    --ui-btn--v-sec--s-dis--border-color: var(--ui-btn--s-dis--background-color);
  }

  button[bs-sec] {
    --ui-btn--color: var(--ui-btn--v-sec--color);
    --ui-btn--background-color: var(--ui-btn--v-sec--background-color);

    --ui-btn--border-width: var(--ui-btn--v-sec--border-width);
    --ui-btn--border-color: var(--ui-btn--v-sec--border-color);

    /*hover*/
    --ui-btn--s-hov--color: var(--ui-btn--v-sec--s-hov--color);
    --ui-btn--s-hov--background-color: var(--ui-btn--v-sec--s-hov--background-color);

    --ui-btn--s-hov--border-width: var(--ui-btn--v-sec--s-hov--border-width);
    --ui-btn--s-hov--border-color: var(--ui-btn--v-sec--s-hov--border-color);

    /*active*/
    --ui-btn--s-act--color: var(--ui-btn--v-sec--s-act--color);
    --ui-btn--s-act--background-color: var(--ui-btn--v-sec--s-act--background-color);

    --ui-btn--s-act--border-width: var(--ui-btn--v-sec--s-act--border-width);
    --ui-btn--s-act--border-color: var(--ui-btn--v-sec--s-act--border-color);

    /*disabled*/
    --ui-btn--s-dis--background-color: var(--ui-btn--v-sec--s-dis--background-color);
    --ui-btn--s-dis--color: var(--ui-btn--v-sec--s-dis--color);

    --ui-btn--s-dis--border-width: var(--ui-btn--v-sec--s-dis--border-width);
    --ui-btn--s-dis--border-color: var(--ui-btn--v-sec--s-dis--border-color);
  }
}