@layer small {
   :root{
      --ui-btn-mnl--s-small--inline-size: 100px;
      --ui-btn-mnl--s-small--block-size: 2rem;

      --ui-btn-mnl--s-small--border-width: 2px;
    }

    button[small]{
      --ui-btn-mnl--inline-size: var(--ui-btn-mnl--s-small--inline-size);
      --ui-btn-mnl--block-size: var(--ui-btn-mnl--s-small--block-size);

      --ui-btn-mnl--border-width: var(--ui-btn-mnl--s-small--border-width);
    }
}