@layer disabled{
  :root{
    --ui-btn-mnl--s-dis--color: var(--ui-btn-mnl--color);
    --ui-btn-mnl--s-dis--background-color: rgb(204, 198, 198);

    --ui-btn-mnl--s-dis--border-width: var(--ui-btn-mnl--border-width);
    --ui-btn-mnl--s-dis--border-style: var(--ui-btn-mnl--border-style);
    --ui-btn-mnl--s-dis--border-color: var(--ui-btn-mnl--border-color);
    --ui-btn-mnl--s-dis--border-radius: var(--ui-btn-mnl--border-radius);
    --ui-btn-mnl--s-dis--box-shadow: var(--ui-btn-mnl--box-shadow);
    --ui-btn-mnl--s-dis--text-decoration: var(--ui-btn-mnl--text-decoration);

    --ui-btn-mnl--s-dis--transition: var(--ui-btn-mnl--transition);
    --ui-btn-mnl--s-dis--transform: var(--ui-btn-mnl--transform);

  }
  button[disabled]{
    --ui-btn-mnl--color:var(--ui-btn-mnl--s-dis--color);
    --ui-btn-mnl--background-color:var(--ui-btn-mnl--s-dis--background-color);

    --ui-btn-mnl--border-width: var(--ui-btn-mnl--s-dis--border-width);
    --ui-btn-mnl--border-style: var(--ui-btn-mnl--s-dis--border-style);
    --ui-btn-mnl--border-color: var(--ui-btn-mnl--s-dis--border-color);
    --ui-btn-mnl--border-radius: var(--ui-btn-mnl--s-dis--border-radius);
    --ui-btn-mnl--box-shadow: var(--ui-btn-mnl--s-dis--box-shadow);
    --ui-btn-mnl--text-decoration: var(--ui-btn-mnl--s-dis--text-decoration);

    --ui-btn-mnl--transition: var(--ui-btn-mnl--s-dis--transition);
    --ui-btn-mnl--transform: var(--ui-btn-mnl--s-dis--transform);
  }
}